<html>
<head><title>Demo Car License Number </title>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<link rel="stylesheet" href="/static/viden.css">

<script>
function toggleLoading() {
var x = document.getElementById("loader")
	if (x.style.display === "none") {
		x.style.display = "block";
	  } else {
		x.style.display = "none";
	  }
}
</script>
</head>

<body align="center">
</div><h2>Demo of Car License Number Extraction </h2> </div>
<div><h5>Built on tensorflow and Keras </br>
The evaultion pipe line is based on yolo v2 and cnn+rnn+ctc models trained on custom data.
</h5></div>

<div class="container">
<form id="carForm" action="predict" method="POST" enctype="multipart/form-data">
<p>
<label>Car Image </label><input type=file name="image" ID="image" accept=".jpg"/>
</p>
<p>
<label></label><input type=submit value="Evaluate"/>
</p>
</form>
</div>
<div >Result
	<div id="loader" class="loader" style="display:none"></div>
	<div id="result"></div>
</div>
<h5>Upcoming Feature to Integrate with <a href="https://vahan.nic.in/nrservices/faces/user/citizen/citizenlogin.xhtml"> https://vahan.nic.in/nrservices/faces/user/citizen/citizenlogin.xhtml</a></h5>

<script>
			
				
			
            /* attach a submit handler to the form */
            $("#carForm").submit(function(event) {
				toggleLoading()
                /* stop form from submitting normally */
               // event.preventDefault();
				
				 var $form = $(this);
                    
                 url = $form.attr('action');
				 $.ajax( {
						url: url,
						method: 'POST',
						type: 'POST',
					  data: new FormData( this ),
					  processData: false,
					  contentType: false,
					   success: function(data) {
							toggleLoading();
							var content = $(data);
							
							var resultPlaceholder = $('#result');
							
							var img_res='<b> License Plate Number :</b>'+content[0].licenseNumber
							+"</br><img style='width:40%;height:40%;' src='" + "data:image/jpg;base64,"
							+ content[0].carImage + "'/>";
							$("#result").html(img_res)
							
							
							
						},
						error: function (jqXHR, status, err) {
							toggleLoading();
							var err_res='<b> Request Failed  :</b>'+status
							+"</br> "+err;
							$("#result").html(err_res)
						  }
					  
					} );
                
              
					
                /* stop form from submitting normally */
                event.preventDefault();
				return;
               } ); 
        </script>
		
		<script>

var uploadField = document.getElementById("image");
 
uploadField.onchange = function() {
var filename =this.files[0].name;

var ext = filename.split('.').pop().toLowerCase();

    if(this.files[0].size > 1740800){
       alert("File is too big! Expected < 1.5 mb");
       this.value = "";
	   return;
    };
	
	if(!(ext.localeCompare("jpg") == 0 || ext.localeCompare("jpeg") == 0)){
		alert(ext+" File not supported");
		
       this.value = "";
	   return;
	};
	
};

</script>


</head>
</body>
</html>
